.features-section{

max-width:1300px;

margin:120px auto;

padding:0 40px;

text-align:center;

}

.section-tag{

color:#22C55E;

font-weight:700;

letter-spacing:2px;

margin-bottom:15px;

}

.features-section h2{

font-size:3rem;

margin-bottom:70px;

}

.features-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.feature-card{

padding:35px;

background:#161616;

border-radius:22px;

border:1px solid rgba(255,255,255,.05);

transition:.35s;

cursor:pointer;

}

.feature-card:hover{

transform:translateY(-10px);

box-shadow:0 15px 45px rgba(34,197,94,.15);

}

.feature-icon{

color:#22C55E;

margin-bottom:25px;

}

.feature-card h3{

margin-bottom:18px;

}

.feature-card p{

color:#9CA3AF;

line-height:1.7;

}

@media(max-width:1000px){

.features-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:650px){

.features-grid{

grid-template-columns:1fr;

}

}